.m-e-box {
  margin: auto;
  width: 100%;
  flex: 1;
  overflow: hidden;
  box-sizing: content-box!important;
}

.m-e-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0 27px 0 10px;
  box-sizing: content-box!important;
}