@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.woff') format('woff');
}


.m-e-font {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.icon-biaoge:before {
  content: "\e613";
}

.icon-houtui:before {
  content: "\e61d";
}

.icon-lianjie:before {
  content: "\e622";
}

.icon-qianjin:before {
  content: "\e623";
}

.icon-B:before {
  content: "\e637";
}

.icon-center:before {
  content: "\e638";
}

.icon-I:before {
  content: "\e639";
}

.icon-justify:before {
  content: "\e63a";
}

.icon-left:before {
  content: "\e63b";
}

.icon-right:before {
  content: "\e63c";
}

.icon-beijingyanse:before {
  content: "\e63d";
}

.icon-youxuliebiao:before {
  content: "\e67e";
}

.icon-liebiaowuxu:before {
  content: "\e67f";
}

.icon-daima:before {
  content: "\e695";
}

.icon-geshishua:before {
  content: "\e6d2";
}

.icon-xiahuaxian:before {
  content: "\e6d3";
}

.icon-shanchuxian:before {
  content: "\e6d4";
}

